PORT=3001
DATABASE_URL=postgresql://postgres:password@localhost:5432/southlake_user_mgmt
JWT_SECRET=your_jwt_secret_key
SUPER_ADMIN_EMAIL=admin@southlake.com
SUPER_ADMIN_PASSWORD=Admin@123
SUPER_ADMIN_USERNAME=superadmin
